*{
  margin: 0;
  padding: 0;
}
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* header area start */
.header-area{
  background-image: url("../Assets/Hero-bg.png");
  background-size: contain;
  padding-bottom: 100px;
  display: block;
  overflow: hidden;
}

/* nav style */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}
.logo{
  font-size: 34px;
  font-weight: 800;
  color: #4E47FF;
}
.btn-primary{
  background: #4E47FF;
  color: white;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  font-size: 16px;
}
/* banner area start */
.banner{
 text-align: center;
 margin-top: 100px;
}
.banner-content{
  font-weight: bold;
  font-size: 24px;
}
.banner a button{
  margin-top: 30px;
}
/* header area end */

/* action area start */
.action-area{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 150px;
}
.action-content h3{
  font-weight: bold;
  color: #252432;
  font-size: 24px;
}
.action-content p{
  color: rgba(37, 36, 50, 50%);
  margin: 20px 0;
}
.action-content a button{
  font-weight: bold;
  font-size: 16px;
}
.action-img img{
  border-radius: 20px;
}
/* action area end */

/* productive area start */
.productive-area{
  background-color: #E5E7FF;
  display: block;
  margin: 50px 150px;
  border-radius: 20px;
  padding: 50px;
}
.productive-title{
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #252432;
}
.productive-points{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  text-align: center;
}
.productive-points h1{
  color: #4E47FF;
}
.productive-points h1 span{
  font-size: 16px;
  color: rgba(37, 36, 50, 50%);
  font-weight: normal;
}
/* productive area end */
